# EDA part 2 Studio

## Further Analysis of IMDB movies

### Blocks have been created for your code

### The dataset from Kaggle

### 1. Find the relative proportions of movie genres represented.

In [1]:
# import pandas
import pandas as pd

# create your data variabe using .read_csv 
data = pd.read_csv("./IMDB-Movie-Data.csv")

# get reaquainted with the data by viewing the first 5 rows
data.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [2]:
# list the column names
data.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [3]:
# preview the contents of the 'Genre' column only
data['Genre']

0       Action,Adventure,Sci-Fi
1      Adventure,Mystery,Sci-Fi
2               Horror,Thriller
3       Animation,Comedy,Family
4      Action,Adventure,Fantasy
                 ...
995         Crime,Drama,Mystery
996                      Horror
997         Drama,Music,Romance
998            Adventure,Comedy
999       Comedy,Family,Fantasy
Name: Genre, Length: 1000, dtype: object

In [5]:
# using the .value_counts() method, explore the number of each genre type in the series
# assign the result to a variable called genre_counts

genre_counts = data['Genre'].value_counts()
genre_counts

Action,Adventure,Sci-Fi     50
Drama                       48
Comedy,Drama,Romance        35
Comedy                      32
Drama,Romance               31
                            ..
Action,Horror                1
Comedy,Horror,Sci-Fi         1
Adventure,Comedy,Fantasy     1
Drama,Thriller,War           1
Biography,Comedy,Crime       1
Name: Genre, Length: 207, dtype: int64

In [6]:
# Find the proportions of each genre by dividing your variable assigned above by the sum of 
# all of the unique genre values
genre_counts / genre_counts.sum()

Action,Adventure,Sci-Fi     0.050
Drama                       0.048
Comedy,Drama,Romance        0.035
Comedy                      0.032
Drama,Romance               0.031
                            ...
Action,Horror               0.001
Comedy,Horror,Sci-Fi        0.001
Adventure,Comedy,Fantasy    0.001
Drama,Thriller,War          0.001
Biography,Comedy,Crime      0.001
Name: Genre, Length: 207, dtype: float64

In [7]:
# the length of results a above is too long to know if there are any null values present
# we can run .isna() on the series and collect the sum to check if there are missing values
# uncomment the line below to see the results
# (data['Genre'].isna().sum())

## Check Your Work

From your output above, what is the genre (or group of genres) with the largest representation in IMDB's list of top 100 movies from 2006 to 2016? Given the results of running ``.head()``, is this output surprising?